services:
  prestashop:
    build:
      context: .
      dockerfile: Dockerfile.prod
    platform: linux/amd64
    ports:
      - "8082:80"
    environment:
      - DB_SERVER=prestashop_db
      - PS_INSTALL_AUTO=1
      - DB_NAME=prestashop
      - DB_USER=prestashop
      - DB_PASSWD=prestashop
      - PS_DOMAIN=prestashop.demo.aismarttalk.tech
      - PS_USER=admin
      - PS_PASSWD=admin
      - PS_LANGUAGE=fr
      - PS_COUNTRY=FR
      - ADMIN_PASSWD=Ds1J1umhy'l3~F%!b){1
      - PS_ENABLE_SSL=1
    volumes:
      - ./modules/aismarttalk:/var/www/html/modules/aismarttalk
      - ./config/docker:/tmp/docker-config
      - psdata:/var/www/html
    restart: always
    networks:
      - ai-toolkit-network

  prestashop_db:
    image: mysql:5.7
    platform: linux/amd64
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=prestashop
      - MYSQL_USER=prestashop
      - MYSQL_PASSWORD=prestashop
    restart: always
    networks:
      - ai-toolkit-network
    volumes:
      - prestashop_dbdata:/var/lib/mysql

  prestashop_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    ports:
      - "8083:80"
    environment:
      - PMA_HOST=prestashop_db
      - PMA_USER=prestashop
      - PMA_PASSWORD=prestashop
    restart: always
    networks:
      - ai-toolkit-network

networks:
  ai-toolkit-network:
    external: true

volumes:
  prestashop_dbdata:
  psdata:
