services:
  prestashop:
    build:
      context: .
      dockerfile: Dockerfile.prod
    platform: linux/amd64
    ports:
      - "8082:80"
    env_file: .env
    environment:
      - DB_SERVER=prestashop_db
    volumes:
      - ./modules/aismarttalk:/var/www/html/modules/aismarttalk
      - ./config/docker:/tmp/docker-config
      - ./data/prestashop:/var/www/html
    restart: always
    networks:
      - ai-toolkit-network
    depends_on:
      prestashop_db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/index.php"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 90s

  prestashop_db:
    image: mysql:5.7
    platform: linux/amd64
    env_file: .env
    restart: always
    networks:
      - ai-toolkit-network
    volumes:
      - ./data/mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  prestashop_phpmyadmin:
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    ports:
      - "127.0.0.1:8083:80"
    environment:
      - PMA_HOST=prestashop_db
      - PMA_USER=${MYSQL_USER}
      - PMA_PASSWORD=${MYSQL_PASSWORD}
    restart: always
    networks:
      - ai-toolkit-network
    depends_on:
      prestashop_db:
        condition: service_healthy

networks:
  ai-toolkit-network:
    external: true
